<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Administrator home</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
	<form th:action="@{/customer/home}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go Main Profile Page</button>
	</form>	

	<h1 th:text="Products"></h1>
  
 	<div class="container">
 		<div class="card">
 			<div class="card-block">
 				<!--  <table style="width:300px"> -->
 				<table class="table table-hover">
 					<thead>
				      <tr>
				        <th>NAME</th>
				        <th>DESCRIPTION</th>
				        <th>ORIGIN</th>
				        <th>PRICE/UNIT</th>
				      </tr>
			      	<thead>
			      	<tbody>
			      		 <tr th:each="product : ${products}">
				        <td th:text="${product.name}"></td>
				        <td th:text="${product.description}"></td>
				        <td th:text="${product.origin}"></td>
				        <td th:text="${product.price}"></td>
				        <td><form data-th-action="@{/customer/product_actions}" method="post" th:object = "${product}">
				        	<button type="submit" name = "action" th:value="Open + ${product.id}">Open Information</button></form> </td>
				     	<td><form data-th-action="@{/customer/add_actions}" method="post" th:object = "${product}">
				        	<button type="submit" name = "action" th:value="AddProd + ${product.id}">Add to cart</button></form> </td>
				      </tr>
			      	</tbody>
			     </table>
			     <hr/>
			     
			    
 			</div>
 			  
 				<form th:action="@{/customer/orders}" method="get" >
 					<button class="btn btn-danger" type="Submit">Finalize Order</button>
 				</form>
 			
		
		
		
		
		
 		</div>
 	</div>
  

		
    
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>    
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>